$width-xl: 1335px;
$width-md: 1149px;
$width-sm: 689px;

@mixin xl {
    @media (max-width: $width-xl) {
        @content;
    }
}

@mixin md {
    @media (max-width: $width-md) {
        @content;
    }
}

@mixin sm {
    @media (max-width: $width-sm) {
        @content;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}