*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: rgb(244, 233, 221);
    background: linear-gradient(180deg, rgba(244, 233, 221, 1) 11%, rgba(229, 229, 229, 1) 23%, rgba(240, 240, 240, 1) 35%, rgba(255, 255, 255, 1) 53%);

    font-family: 'Open Sans', sans-serif;

    .content {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 140px;
        padding-right: 140px;
        position: relative;

        &::before {
            content: url("/img/pilkas\ rutuliukas.png");
            position: absolute;
            top: 580px;
            left: -90px;
        }

        header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 56px;

            .logo-wrapper {
                align-self: center;
                display: flex;
                column-gap: 12px;

                .second-image {
                    align-self: center;

                }
            }

            ul.nav-list {
                list-style: none;
                display: flex;
                padding-left: 0;
                column-gap: 48px;

                .nav-list-item {
                    text-transform: uppercase;
                    color: #333333;
                    align-self: center;
                    font-weight: 500;
                    font-size: 14px;
                }

                .green-button {
                    background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%), linear-gradient(102.3deg, #0BB1E3 -4.62%, #0F2976 178.22%), #0E70AF;
                    border: none;
                    border-radius: 3px;
                    padding: 10px 15px;
                    color: white;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }

        .first-section {
            display: flex;
            column-gap: 160px;
            margin-left: 40px;
            margin-bottom: 141px;

            .text-wrapper {
                width: 60%;
                padding-top: 108px;


                .first-section-title {
                    color: #333333;
                    text-transform: uppercase;
                    font-size: 48px;
                    margin-bottom: 24px;
                    font-weight: 500;
                    position: relative;

                    &::before {
                        content: url("/img/orandžinis\ rutuliukas.png");
                        position: absolute;
                        left: 171px;
                        top: -28px;
                    }
                }

                .first-section-description {
                    color: #4F4F4F;
                    font-size: 20px;
                    letter-spacing: 0.04em;
                    margin-bottom: 32px;
                    font-weight: 400;

                }

                .start-button {
                    background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%);
                    border-radius: 2px;
                    border: none;
                    padding-bottom: 26px;
                    padding-left: 29px;
                    padding-top: 27px;
                    color: white;
                    text-transform: uppercase;
                    letter-spacing: 0.155em;
                    display: flex;
                    justify-content: space-between;
                    width: 350px;
                    padding-right: 30px;

                }
            }

            .first-image-wrapper {
                width: 40%
            }
        }

        .second-section {
            display: flex;
            column-gap: 109px;
            margin-bottom: 147px;

            .second-text-wrapper {
                width: 35%;

                .bg-image {
                    position: relative;
                    background: linear-gradient(164.26deg, rgba(239, 128, 49, 0) -335.51%, rgba(239, 128, 49, 0.15) -20.24%, rgba(239, 128, 49, 0) 119.45%);
                    width: 700px;
                    left: -280px;
                    padding-left: 280px;


                    .second-section-title-1 {
                        color: F3B562;
                        color: #F3B562;
                        font-size: 24px;
                        text-transform: uppercase;
                        margin: 0;
                        padding-top: 31px;
                        padding-bottom: 17px;
                        font-weight: 500;
                    }

                    .second-section-title-2 {
                        color: #647B64;
                        font-size: 41px;
                        text-transform: uppercase;
                        margin: 0;
                        padding-bottom: 27px;
                        padding-right: 56px;
                        font-weight: 500;
                    }
                }

                .second-section-description {
                    color: #4F4F4F;
                    letter-spacing: 0.04em;
                    margin-bottom: 40px;
                    font-weight: 400;
                }

                .start-button {
                    background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%);
                    border-radius: 2px;
                    border: none;
                    padding-bottom: 26px;
                    padding-left: 29px;
                    padding-top: 27px;
                    color: white;
                    text-transform: uppercase;
                    letter-spacing: 0.155em;
                    display: flex;
                    justify-content: space-between;
                    width: 350px;
                    padding-right: 30px;
                }

            }

            .trips-options {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 78px;
                row-gap: 54px;
                margin-top: 30px;
                width: 65%;


                .first-trip {
                    background-color: #FFFFFF;
                    border-radius: 8px;
                    padding-left: 40px;
                    padding-bottom: 45px;
                    padding-right: 27px;
                    padding-top: 50px;

                    .car-wrapper {
                        background-color: #647B64;
                        width: 48px;
                        height: 48px;
                        border-radius: 8px;
                        position: relative;

                        svg.car {
                            margin: 0;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }

                    .trip-title {
                        color: #333333;
                        font-size: 24px;
                        text-transform: uppercase;
                        margin-top: 26px;
                        margin-bottom: 6px;
                        font-weight: 500;
                    }

                    .trip-description {
                        color: #4F4F4F;
                        font-size: 13px;
                        letter-spacing: 0.04em;
                        margin: 0;
                        font-weight: 400;
                    }
                }

                .second-trip {
                    padding-top: 50px;

                    .boat-wrapper {
                        background-color: white;
                        width: 48px;
                        height: 48px;
                        border-radius: 8px;
                        position: relative;

                        svg.boat {
                            margin: 0;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                    }

                    .trip-title {
                        color: #333333;
                        font-size: 24px;
                        text-transform: uppercase;
                        margin-top: 26px;
                        margin-bottom: 6px;
                        font-weight: 500;
                    }

                    .trip-description {
                        color: #4F4F4F;
                        font-size: 13px;
                        letter-spacing: 0.04em;
                        margin: 0;
                        font-weight: 400;
                    }
                }

                .third-trip {
                    padding-left: 40px;

                    .bus-wrapper {
                        background-color: white;
                        width: 48px;
                        height: 48px;
                        border-radius: 8px;
                        position: relative;

                        svg.bus {
                            margin: 0;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                    }

                    .trip-title {
                        color: #333333;
                        font-size: 24px;
                        text-transform: uppercase;
                        margin-top: 26px;
                        margin-bottom: 6px;
                        font-weight: 500;
                    }

                    .trip-description {
                        color: #4F4F4F;
                        font-size: 13px;
                        letter-spacing: 0.04em;
                        margin: 0;
                        font-weight: 400;
                    }
                }

                .fourth-trip {

                    .road-wrapper {
                        background-color: white;
                        width: 48px;
                        height: 48px;
                        border-radius: 8px;
                        position: relative;

                        svg.road {
                            margin: 0;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }

                    .trip-title {
                        color: #333333;
                        font-size: 24px;
                        text-transform: uppercase;
                        margin-top: 26px;
                        margin-bottom: 6px;
                        font-weight: 500;
                    }

                    .trip-description {
                        color: #4F4F4F;
                        font-size: 13px;
                        letter-spacing: 0.04em;
                        margin: 0;
                        font-weight: 400;
                    }
                }
            }
        }

        .third-section {

            .third-section-title-1 {
                color: F3B562;
                color: #F3B562;
                font-size: 24px;
                text-transform: uppercase;
                margin: 0;
                margin-bottom: 17px;
                text-align: center;
                font-weight: 500;
            }

            .third-section-title-2 {
                color: #647B64;
                font-size: 41px;
                text-transform: uppercase;
                margin-bottom: 56px;
                margin-top: 0;
                text-align: center;
                font-weight: 500;
            }

            .parts-container {
                display: flex;
                justify-content: center;
                column-gap: 40px;
                margin-bottom: 171px;


                .first-part {
                    background: linear-gradient(358.27deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0) 25.62%, rgba(100, 123, 100, 0) 98.53%), #FFFFFF;
                    border-radius: 8px;
                    padding-left: 50px;
                    padding-right: 50px;
                    padding-top: 78px;
                    padding-bottom: 72px;
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    &::before {
                        content: url(/img/Dots\ 8px.1.png);
                        position: absolute;
                        bottom: -40px;
                        left: -30px;
                        z-index: -1;
                    }

                    .part-title {
                        color: #333333;
                        font-size: 24px;
                        margin-top: 24px;
                        margin-bottom: 6px;
                        font-weight: 500;
                    }

                    .part-description {
                        color: #4F4F4F;
                        letter-spacing: 0.04em;
                        font-size: 16px;
                        margin: 0;
                        font-weight: 500;
                    }
                }

                .second-part {
                    background: #647B64;
                    border-radius: 8px;
                    padding-left: 50px;
                    padding-right: 50px;
                    padding-top: 78px;
                    padding-bottom: 72px;
                    display: flex;
                    flex-direction: column;

                    .part-title {
                        color: #333333;
                        font-size: 24px;
                        margin-top: 24px;
                        margin-bottom: 6px;
                        font-weight: 500;
                    }

                    .part-description {
                        color: #4F4F4F;
                        letter-spacing: 0.04em;
                        font-size: 16px;
                        margin: 0;
                        font-weight: 500;
                    }
                }

                .third-part {
                    background: linear-gradient(358.27deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0) 25.62%, rgba(100, 123, 100, 0) 98.53%), #FFFFFF;
                    border-radius: 8px;
                    padding-left: 50px;
                    padding-right: 50px;
                    padding-top: 78px;
                    padding-bottom: 72px;
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    &::after {
                        content: url(/img/bg-3.png);
                        position: absolute;
                        top: 190px;
                        left: 170px;
                        z-index: -1;
                    }

                    .part-title {
                        color: #333333;
                        font-size: 24px;
                        margin-top: 24px;
                        margin-bottom: 6px;
                        font-weight: 500;
                    }

                    .part-description {
                        color: #4F4F4F;
                        letter-spacing: 0.04em;
                        font-size: 16px;
                        margin: 0;
                        font-weight: 500;
                    }
                }
            }
        }

        .fourth-section {
            display: flex;
            column-gap: 165px;
            margin-bottom: 137px;

            .fourth-image-wrapper {
                position: relative;

                &::before {
                    content: url(/img/bg-3\,.jpg);
                    position: absolute;
                    bottom: -60px;
                    right: -60px;
                    z-index: -1;
                }
            }

            .fourth-text-wrapper {
                margin-top: 150px;

                .fourth-section-title-1 {
                    color: #F3B562;
                    font-size: 24px;
                    text-transform: uppercase;
                    margin: 0;
                    margin-bottom: 17px;
                    font-weight: 500;

                }

                .fourth-section-title-2 {
                    color: #647B64;
                    font-size: 41px;
                    text-transform: uppercase;
                    margin-bottom: 24px;
                    margin-top: 0;
                    font-weight: 500;
                }

                .fourth-section-description {
                    color: #4F4F4F;
                    letter-spacing: 0.04em;
                    font-size: 16px;
                    margin-top: 0;
                    margin-bottom: 40px;
                    font-weight: 400;
                }

                .start-button {
                    background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%);
                    border-radius: 2px;
                    border: none;
                    padding-bottom: 26px;
                    padding-left: 29px;
                    padding-top: 27px;
                    color: white;
                    text-transform: uppercase;
                    letter-spacing: 0.155em;
                    display: flex;
                    justify-content: space-between;
                    width: 350px;
                    padding-right: 30px;
                }
            }
        }

        .fifth-section {

            .first-part-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 50px;

                .fifth-section-title-1 {
                    color: #F3B562;
                    font-size: 24px;
                    text-transform: uppercase;
                    margin: 0;
                    margin-bottom: 17px;
                    font-weight: 500;

                }

                .fifth-section-title-2 {
                    color: #647B64;
                    font-size: 41px;
                    text-transform: uppercase;
                    margin-bottom: 24px;
                    margin-top: 0;
                    font-weight: 500;
                }

                .arrows-wrapper {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    column-gap: 35px;

                    .arrow-1 {
                        align-self: center;
                    }

                    .arrow-2 {
                        background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%);
                        border-radius: 50%;
                        padding: 15px;
                        align-self: center;
                    }
                }
            }

            .people {
                display: grid;
                grid-template-columns: repeat(4, 370px);
                column-gap: 40px;
                margin-bottom: 180px;

                .person {
                    background: linear-gradient(358.27deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0) 25.62%, rgba(100, 123, 100, 0) 98.53%), #FFFFFF;
                    border-radius: 8px;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    padding-left: 40px;
                    padding-bottom: 32px;
                    padding-right: 15px;
                    padding-top: 49px;

                    .person-name {
                        display: flex;
                        flex-direction: column;
                        row-gap: 5px;

                        .first-line {
                            color: #333333;
                            text-transform: uppercase;
                            font-weight: 500;
                        }

                        .second-line {
                            color: #4F4F4F;
                            font-size: 13px;
                            letter-spacing: 0.04em;
                            font-weight: 400;
                        }
                    }

                    .person-description {
                        grid-column-start: 1;
                        grid-column-end: 3;
                        font-style: italic;
                        color: #4F4F4F;
                        margin-top: 24px;
                        margin-bottom: 0;
                        padding-right: 50px;
                        font-weight: 400;
                    }
                }

            }
        }
    }

    footer {
        background-color: #F0DCC5;
        display: flex;
        padding-left: 140px;
        padding-right: 140px;
        padding-top: 103px;
        padding-bottom: 105px;
        justify-content: space-around;
        min-width: 1440px;

        .first-footer-part {
            display: flex;
            flex-direction: column;
            width: 25%;
         

            .logo-wrapper {
                display: flex;
                column-gap: 12px;

                .second-img {
                    align-self: center;
                    padding-left: 12px;
                }
            }

        .footer-description {
            color: #4F4F4F;
            font-size: 14px;
            letter-spacing: 0.04em;
            margin-bottom: 16px;
            margin-top: 26px;
            font-weight: 400;
        }

        .copyright {
            color: #4F4F4F;
            font-size: 14px;
            margin-bottom: 8px;
            font-weight: 400;
        }

        .rights {
            color: #4F4F4F;
            font-size: 14px;
            margin-bottom: 19px;
            font-weight: 400;
        }

        .icons {
            display: flex;
            column-gap: 23px;

            }
        }

        .second-footer-part {
            display: flex;
            flex-direction: column;
            row-gap: 24px;
            

            span.second-footer-part-title {
                color: #647B64;
                font-size: 20px;
                font-weight: 500;
            }

            ul.list-1 {
                list-style: none;
                padding-left: 0;
                margin:0;
                padding-right: 42px;

                li {
                    color: #333333;
                    font-weight: 400;
                    font-size: 16px;
                    margin-bottom: 12px;
                }
            }
        }

        .third-footer-part {
            display: flex;
            flex-direction: column;
            row-gap: 24px;

            span.third-footer-part-title {
                color: #647B64;
                font-size: 20px;
                font-weight: 500;
            }

            ul.list-2 {
                list-style: none;
                padding-left: 0;
                margin:0;
                padding-right: 42px;
                
                li {
                    color: #333333;
                    font-weight: 400;
                    font-size: 16px;
                    margin-bottom: 12px;
                }
            }
        }

        .fourth-footer-part{
           margin-left:60px;

            span.fourth-footer-part-title {
                color: #647B64;
                font-size: 20px;
                font-weight: 500;
                text-transform: uppercase;
                margin-bottom: 13px;
                display: block;
            }

            input {
                width: 283px;
                height: 113px;
                border: none;
                padding-left:20px;
                padding-bottom: 60px;
            }

            .send-button {
                background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%);
                border-radius: 2px;
                border: none;
                padding-bottom: 26px;
                padding-left: 29px;
                padding-top: 27px;
                color: white;
                text-transform: uppercase;
                letter-spacing: 0.155em;
                display: flex;
                justify-content: space-between;
                width: 350px;
                padding-right: 30px;
                margin-top:28px;
                width: 283px;
            }
        }

        


    }
}