@use 'sass/basics';
@use 'sass/header';
@use 'sass/firstSection';
@use 'sass/secondSection';
@use 'sass/thirdSection';
@use 'sass/fourthSection';
@use 'sass/fifthSection';
@use 'sass/footer';

body {
    background: rgb(244, 233, 221);
    background: linear-gradient(180deg, rgba(244, 233, 221, 1) 11%, rgba(229, 229, 229, 1) 23%, rgba(240, 240, 240, 1) 35%, rgba(255, 255, 255, 1) 53%);

    font-family: 'Open Sans', sans-serif;

    .content {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 140px;
        padding-right: 140px;
        position: relative;

        @include basics.sm {
            padding-left: 32px;
            padding-right: 32px;
        }

        &::before {
            content: url("/img/pilkas\ rutuliukas.png");
            position: absolute;
            top: 580px;
            left: -90px;
        }
    }
}